/* Brown Layout */
#lyftenbloggie .blogcontent .lbPost_meta {background-color: #796751;color: #FFFFFF;border: #665644 1px solid;}
#lyftenbloggie .blogcontent .lbPost_meta .editEnrty a, #lyftenbloggie .blogcontent .lbPost_meta .editEnrty a:link {background-color: #2D271F;}