/* Green Layout */
#lyftenbloggie .blogcontent .lbPost_meta {background-color: #577951;color: #FFFFFF;border: #496644 1px solid;}
#lyftenbloggie .blogcontent .lbPost_meta .editEnrty a, #lyftenbloggie .blogcontent .lbPost_meta .editEnrty a:link {background-color: #212D1F;}