/* Grey Layout */
#lyftenbloggie .blogcontent .lbPost_meta {background-color: #545454;color: #FFFFFF;border: #434343 1px solid;}
#lyftenbloggie .blogcontent .lbPost_meta .editEnrty a, #lyftenbloggie .blogcontent .lbPost_meta .editEnrty a:link {background-color: #1F1F1F;}