/**************************
  News Image VI CSS style
**************************/

div.gk_ni_6_wrapper{
	padding: 0!important;
	position: relative;
	overflow:hidden;
}

div.gk_ni_6_preloader{
	background: #000;
	position: absolute;
	z-index: 1001;
	top: 0px;
	left: 0px;
}

.gk_ni_6_wrapper2{
	position: relative;
	overflow: hidden;
}

.gk_ni_6_slide{
	position: absolute;
}

.gk_ni_6_text_bg{
	width: 100%;
	position: absolute;
}

.gk_ni_6_tabsbar{
	float: left;
}

div.gk_ni_6_tab,
div.gk_ni_6_tab_active{
	float: left;
	position: relative;
	width: 100%;
	overflow: hidden;
}

div.gk_ni_6_hover{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	cursor: pointer;
}

div.gk_ni_6_hover div{
	margin: 0 auto;
	cursor: pointer;
}

div.gk_ni_6_tabsbar_wrap{
	float: left;
	overflow: hidden;
	position: relative;
}

div.gk_ni_6_tabsbar_slider{
	width: 100%;
	clear: both;
}

div.gk_ni_6_text_datas {
	display: none;
}

div.gk_ni_6_text {
	padding: 3px 0 3px 10px!important;
	overflow: hidden;
	position: absolute;
}

.gk_ni_6_text p {
	margin-bottom: 4px;
}

div.gk_ni_6_tabsbar p.gk_ni_6_tab_header,
div.gk_ni_6_tab_active p.gk_ni_6_tab_header {
	padding: 0!important;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

div.gk_ni_6_tab,
div.gk_ni_6_tab_active,
div.gk_ni_6_json {
	padding: 0!important;
}

div.gk_ni_6_tab img,
div.gk_ni_6_tab_active img {
	border: 1px solid #1c1c1c;
	margin: 2px;
	display: block;	
	float: left;
}

div.gk_ni_6_tab p.gk_ni_6_tab_text,
div.gk_ni_6_tab_active p.gk_ni_6_tab_text {
	font-size: 9px;
	font-family: Arial, Verdana;
	color: #FFF;
	margin: 0;
	width: auto;
}


div.gk_ni_6_tab h4,
div.gk_ni_6_tab_active h4{
	width: auto;
	margin: 0;
	padding: 0;
}

div.gk_ni_6_wrapper h2 {
	font: normal 16px Arial, Helvetica, sans-serif!important;
	padding: 0;
	margin: 0 0 2px;
}

.gk_ni_6_wrapper a.readon {
	margin: 4px 0 0;
	font-weight: normal;
}

.gk_ni_6_tabsbar_up,
.gk_ni_6_tabsbar_down {
	width: 18px;
	height: 17px;
}

.gk_ni_6_tabsbar_up:hover,
.gk_ni_6_tabsbar_down:hover {
	background-position: right;
}

div.gk_ni_6_tabsbar p.gk_ni_6_tab_header,
div.gk_ni_6_tab_active p.gk_ni_6_tab_header {
	color: #c6eb91;
}

.gk_ni_6_wrapper a.readon {
	color: #8fc400;
}

.gk_ni_6_tabsbar_up {
	float: right;
}

.gk_ni_6_tabsbar_down {
	float: right;
}

div.gk_ni_6_json {
	display: none;
}

.gk_ni_6_readmore_wrapper {
	clear: both;
}
.gk_ni_6_readmore_button {
	margin: 0 auto;
	width: 33%;
	text-align: center;
}
.gk_ni_6_readmore_button a {
	text-transform: uppercase;
	font-weight: bold;
}
.gk_ni_6_readmore_button span {
	display:block;
	height:17px;
	padding-left:5px;
}
.gk_ni_6_readmore_button a {
	display:block;
	font-family: Arial, Verdana, sans-serif;
	line-height: 17px;
	font-size: 10px;
	height:17px;
	padding-left:12px;
	padding-right:17px;
}
.gk_ni_6_tab h4,
.gk_ni_6_tab_active h4 {
	font-size: 10px;
	margin-top: 4px !important;
	text-transform: uppercase;
}

.gk_ni_6_tab p,
.gk_ni_6_tab_active p {
	margin: 3px 0 0 0;
	font-size: 10px;
	padding-right: 3px!important;
}
.gk_ni_6_tab img,
.gk_ni_6_tab_active img {
	margin: 8px 12px 0 8px !important;
	border:none !important;
}
.gk_ni_6_hover div {
	width:41px !important;
	height: 41px !important;
}
.gk_ni_6_tabsbar_slider {
	overflow:hidden;
	padding:4px 0;
	width:27px;
}
.gk_ni_6_tabsbar_up {
	width:10px;
	height:9px;
	margin: 0 11px 0 5px !important;
}
.gk_ni_6_tabsbar_down {
	width:10px;
	height:9px;
}

.gk_ni_6_text h2,
.gk_ni_6_text h2 a{
	color:#41bbea !important;	
}

.gk_ni_6_readmore_button a{
	color: #bfbfbf;
}

.gk_ni_6_readmore_button span{
	background:transparent url(../images/header_readmore_left.png) no-repeat left 0;
}

.gk_ni_6_readmore_button a{
	color: #bfbfbf !important;
	background:transparent url(../images/header_readmore_right.png) no-repeat right 0;
}

.gk_ni_6_tab, 
.gk_ni_6_tab_active{
	background: #2a2c2f url(../images/header_bg_tab.png) repeat-x 0 bottom;
}

.gk_ni_6_tab h4, 
.gk_ni_6_tab_active h4{	
	color:#41bbea;
}

.gk_ni_6_tab p, 
.gk_ni_6_tab_active p{
	color:#aaa;
}

.gk_ni_6_hover{
	background: transparent url(../images/header_tab_hover_bg.png) !important;
}

.gk_ni_6_hover div{
	background: transparent url(../images/header_tab_hover_button.png) no-repeat !important;
}

.gk_ni_6_tabsbar_slider{
	background:transparent url(../images/header_bg_interface.png) no-repeat right 0 !important;
}

.gk_ni_6_tabsbar_up{
	background:transparent url(../images/header_arrow_up.png) no-repeat left 0 !important;
}

.gk_ni_6_tabsbar_down{	
	background:transparent url(../images/header_arrow_down.png) no-repeat left 0 !important;
}

.gk_ni_6_tabsbar_up:hover{
	background:transparent url(../images/header_arrow_up.png) no-repeat right 0 !important;
}

.gk_ni_6_tabsbar_down:hover{
	background:transparent url(../images/header_arrow_down.png) no-repeat right 0 !important;
}

.gk_ni_6_preloader{
	background:  #000 url(../images/loader.gif) no-repeat center center !important;
}