<div style="background-color:#e2e8df;font-size:100%;font-family:Tahoma, Geneva, Kalimati, sans-serif;color:#8a8a8a;text-align:center" width="100%">

<table width="560" cellpadding="0" cellspacing="0" style="text-align:left;margin:auto;">
    <tr>
    	<td colspan="3" class="hideonline" style="font-size:10px;color:#000000;margin:auto;text-align:center;">This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}.</td>
    </tr>

    <tr>
    	<td colspan="3" height="10"></td>
    </tr>

    <tr>
        <td width="37">
        </td>

        <td bgcolor="#fbfbf7" width="496" valign="top">
        	<table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                	<td height="20" colspan="2">

                    </td>

                </tr>
                <tr>
                	<td width="20">
                    </td>
                    <td height="110" width="456" style="background-color:#F9F7D3">
                    	<table width="456" height="110" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="11" colspan="3">
                                </td>
                            </tr>
                            <tr>
                            	<td width="7" >
                                </td>
                                <td>
                                	<img src="http://www.acyba.com/images/templates/newsletter-1/logo-icon.png" alt=""/>
                                </td>
                                <td valign="top">
                                	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr>
                                        	<td align="right"  valign="top" height="71">
                                            	<h1>AcyMailing is Out!</h1>
                                            </td>
                                            <td width="15">
                                            </td>

                                        </tr>
                                        <tr>
                                        	<td align="right" height="15" valign="baseline" >
                                            	<img alt="" src="http://www.acyba.com/images/templates/newsletter-1/company-name.png" height="15"/>
                                            </td>
                                        </tr>
                                     </table>


                                </td>


                            </tr>

                            <tr>
                                <td height="3"  colspan="3">

                                </td>


                            </tr>


                        </table>
                    </td>
                    <td width="20">
                    </td>

                </tr>
                <tr>
                	<td colspan="5">
                    	<table width="100%">
                        	<tr>
                            	<td width="60">
                                </td>
                                <td>
                                	<table width="100%">
                                    	<tr>
                                        	<td>
                                                    <h3>E-Mail</h3>
                                                    <h6>&nbsp;</h6>
                                                    <table>
                                                    	<tr>
                                                        	<td width="280" style="font-size:10px;text-align:justify" valign="top">
                                                           	 	Electronic mail, often abbreviated as email or e-mail, is a method of exchanging digital messages, designed primarily for human use. E-mail systems are based on a store-and-forward model in which e-mail computer server systems accept, forward, deliver and store messages on behalf of users, who only need to connect to the e-mail infrastructure, typically an e-mail server, with a network-enabled device (e.g., a personal computer) for the duration of message submission or retrieval.<br/><a href="http://en.wikipedia.org/wiki/E-mail">Wikipedia</a>
                                                            </td>
                                                            <td>
                                                            	<img alt="" src="http://www.acyba.com/images/templates/newsletter-1/acymailing.png" />
                                                            </td>
                                                        </tr>
													</table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="60">
                                </td>
                            </tr>

                            <tr>
                            	<td width="60">
                                </td>
                                <td>
                                	<table width="100%">
                                    	<tr>
                                        	<td>
                                                    <h3>Marketing Campaign</h3>
                                                    <h6>&nbsp;</h6>
                                                    <table>
                                                    	<tr>
                                                        	<td width="140" style="font-size:10px;text-align:justify" valign="top">
                                                           	 	Marketing is an integrated communications-based process through which individuals and communities are informed or persuaded that existing and newly-identified needs and wants may be satisfied by the products and services of others.
                                                            </td>
                                                            <td>
                                                            	<img alt="" src="components/com_acymailing/templates/newsletter-1/vert-separator.png" />
                                                            </td>
                                                            <td>
                                                            	<img alt="" src="http://www.acyba.com/images/templates/newsletter-1/essential.png" />
                                                            </td>
                                                            <td>
                                                            	<img alt="" src="components/com_acymailing/templates/newsletter-1/vert-separator.png" />
                                                            </td>
                                                            <td width="140" style="font-size:10px;text-align:justify" valign="top">
                                                           	 	Marketing is used to create the customer, to keep the customer and to satisfy the customer.  <a href="http://en.wikipedia.org/wiki/Marketing_campaign">Wikipedia</a>
                                                            </td>
                                                        </tr>
													</table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="60">
                                </td>
                            </tr>

                            <tr>
                            	<td width="60">
                                </td>
                                <td>
                                	<table width="100%">
                                    	<tr>
                                        	<td>
                                                    <h3>Joomla!</h3>
                                                    <h6>&nbsp;</h6>
                                                    <table>
                                                    	<tr>
                                                        	<td width="200" style="font-size:10px;text-align:justify" valign="top">
                                                           	 	Joomla! is a content management system platform for publishing content on the World Wide Web and intranets as well as a Model–view–controller (MVC) Web Application Development framework.
                                                            </td>
                                                            <td>
                                                            	<img alt="" src="components/com_acymailing/templates/newsletter-1/vert-separator.png" />
                                                            </td>
                                                            <td width="200" style="font-size:10px;text-align:justify" valign="top" >
                                                           	 	The system includes features such as page caching to improve performance, RSS feeds, printable versions of pages, news flashes, blogs, polls, website searching, and language internationalization.<br/><a href="http://en.wikipedia.org/wiki/Joomla">Wikipedia</a>
                                                            </td>
                                                        </tr>
													</table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="60">
                                </td>
                            </tr>


                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td width="27">
        </td>

    </tr>
    <tr>
    	<td colspan="3"><img src="components/com_acymailing/templates/newsletter-1/page-footer.png" alt=""/></td>
    </tr>

    <tr>
    	<td colspan="3" style="font-size:10px;color:#000000;margin:auto;text-align:center;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</td>
    </tr>
</table>


</div>