<div style="background-color:#dfe6e8;font-size:100%;font-family:Tahoma, Geneva, Kalimati, sans-serif;color:#8a8a8a;text-align:center" width="100%">

<table width="600" cellpadding="0" cellspacing="0" style="text-align:left;margin:auto;">
    <tr>
    	<td colspan="3" class="hideonline" style="font-size:10px;color:#000000;margin:auto;text-align:center;">This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}.</td>
    </tr>

    <tr>
    	<td colspan="3" height="30"></td>
    </tr>

    <tr>

        <td width="216" valign="top">
        	<table cellpadding="0" cellspacing="0">
            	<tr>
                	<td style="text-align: center">
                    	<img src="http://www.acyba.com/images/templates/newsletter-3/logo-icon.jpg" width="207" height="137" alt="">
                    </td>

                </tr>

                <tr>
                	<td height="20">

                    </td>

                </tr>

                <tr>
                	<td>

                            <table cellspacing="0" cellpadding="0">
                                <tr style="line-height:0;">
                                    <td colspan="3" width="216" height="15">
                                    <img src="components/com_acymailing/templates/newsletter-3/top23rds.png" alt="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td  bgcolor="#FFFFFF" width="15"></td>
                                    <td bgcolor="#FFFFFF" width="186" >
                                        <h3>Joomla!</h3>
                                        <h6>&nbsp;</h6>
                                        <table>
                                            <tr>

                                                <td>
                                                <p style="font-size:10px;margin-top:0px;">Joomla! is a content management system platform for publishing content on the World Wide Web and intranets as well as a Model–view–controller (MVC) Web Application Development framework.</p>
                                                <img src="components/com_acymailing/templates/newsletter-2/hori-separator.png" alt="" />
                                                <p style="font-size:10px;">The system includes features such as page caching to improve performance, RSS feeds, printable versions of pages, news flashes, blogs, polls, website searching, and language internationalization.<br/><a href="http://en.wikipedia.org/wiki/Joomla">Wikipedia</a></p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <a href="#" style="font-size:10px;color:#999999;">Read More</a>
                                                </td>
                                            </tr>
                                      </table>


                                    </td>
                                    <td  bgcolor="#FFFFFF" width="15"></td>
                                </tr>
                                <tr style="line-height:0;">
                                    <td  colspan="3" width="216" height="15">
                                    <img src="components/com_acymailing/templates/newsletter-3/bottom23rds.png" alt=""/>
                                    </td>
                                </tr>
                            </table>
                    </td>

                </tr>

            </table>
        </td>




        <td width="20">
        </td>
  <td width="364" valign="top">
        	<table cellpadding="0" cellspacing="0">
            	<tr>
                	<td width="325" height="48" style="background-color:#ffffff;color:#d47e7e;text-align:center;">
                        <h1>AcyMailing is Out!</h1>
                  </td>

                </tr>

                <tr>
                	<td height="20">

                    </td>
                </tr>

                <tr>
                	<td>
                            <table cellspacing="0" cellpadding="0">
                                <tr style="line-height:0;">
                                    <td colspan="3" width="323" height="15">
                                    <img src="components/com_acymailing/templates/newsletter-3/top23rd.png" alt="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td  bgcolor="#FFFFFF" width="15"></td>
                                    <td bgcolor="#FFFFFF" width="293" >
                                        <h3>E-Mail</h3>
                                        <h6>&nbsp;</h6>
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="http://www.acyba.com/images/templates/newsletter-1/acymailing.png" alt="" />
                                                </td>
                                                <td>
                                                <p style="font-size:10px;margin-top:0px;">Electronic mail, often abbreviated as email or e-mail, is a method of exchanging digital messages, designed primarily for human use.<br/><a href="http://en.wikipedia.org/wiki/E-mail">Wikipedia</a></p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="2" align="right">
                                                    <a href="#" style="font-size:10px;color:#999999;">Read More</a>
                                                </td>
                                            </tr>
                                         </table>
                                    </td>
                                    <td  bgcolor="#FFFFFF" width="15"></td>
                                </tr>
                                <tr style="line-height:0;">
                                    <td  colspan="3" width="323" height="15">
                                    <img src="components/com_acymailing/templates/newsletter-3/bottom23rd.png" alt=""/>
                                    </td>
                                </tr>
                            </table>

                    </td>

                </tr>

                <tr>
                	<td height="20">

                    </td>
                </tr>



                <tr>
                	<td>
                        <table cellspacing="0" cellpadding="0">
                            <tr style="line-height:0;">
                                <td colspan="3" width="323" height="15">
                                	<img src="components/com_acymailing/templates/newsletter-3/top23rd.png" alt="" />
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="#FFFFFF" width="15"></td>
                                <td bgcolor="#FFFFFF" width="293" >
                                    <h3>Marketing Campaign</h3>
                                    <h6>&nbsp;</h6>
                                    <table>
                                        <tr>

                                            <td>
                                            <p style="font-size:10px;margin-top:0px;">Marketing is an integrated communications-based process through which individuals and communities are informed or persuaded that existing and newly-identified needs and wants may be satisfied by the products and services of others.</p>
                                            <img src="components/com_acymailing/templates/newsletter-2/hori-separator.png" alt="" />
                                            <p style="font-size:10px;">Marketing is used to create the customer, to keep the customer and to satisfy the customer.  <a href="http://en.wikipedia.org/wiki/Marketing_campaign">Wikipedia</a></p>
                                            </td>
                                            <td>
                                                <img src="http://www.acyba.com/images/templates/newsletter-1/essential.png" alt=""/>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right">
                                                <a href="#" style="font-size:10px;color:#999999;">Read More</a>
                                            </td>
                                        </tr>
                                     </table>


                                </td>
                                <td  bgcolor="#FFFFFF" width="15"></td>
                            </tr>
                            <tr style="line-height:0;">
                                <td  colspan="3" width="323" height="15">
                                <img src="components/com_acymailing/templates/newsletter-3/bottom23rd.png" alt=""/>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </td>



    </tr>
    <tr>
    	<td colspan="3" height="30"></td>
    </tr>

    <tr>
    	<td colspan="3" style="font-size:10px;color:#000000;margin:auto;text-align:center;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</td>
    </tr>
</table>


</div>