/* Green Layout */
#lyftenbloggie .blogcontent .section{border-bottom:solid 1px #A6BFA1;}
#lyftenbloggie .blogcontent .entry-info{background:#577951;}
#lyftenbloggie .blogcontent .entry-title a, #lyftenbloggie .blogcontent .entry-title a:hover{color:#FFFFFF;}
#lyftenbloggie .blogcontent .entry-small, #lyftenbloggie .blogcontent .entry-small a{color:#FFFFFF;}